.footer {
  background-color: #F5F5F5;
  border-top: 1px solid #DDDDDD;
  text-align: center;
  color: #ADA4A1;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-top: 0px;
  z-index: 1;
}

/* .Site-content {
  flex: 1;
} */