.container {
  border: 3px solid #393D3F;
  height: 50vh;
  width: 80%;
  margin: 0 auto; 
}

.banner1 {
  background-color: #393D3F;
  border: 3px solid #62929E;
  color: #E6E6E8;
  font-size: 40px;
  margin: 5px;
}

.banner2 {
  background-color: #393D3F;
  border: 3px solid #62929E;
  color: #E6E6E8;
  font-size: 40px;
  margin: 5px;
}

.banner3 {
  background-color: #393D3F;
  border: 3px solid #62929E;
  color: #E6E6E8;
  font-size: 40px;
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}